@page
@model EidCredentialsIssuer.Pages.ViewLastCredentialsInfoModel
top
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <i class="fa fa-key fa-9x" aria-hidden="true"></i>
                <div style="padding-top:15px">
                    <b>Latest E-ID Data Credential Issuer</b>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">DID ID</dt>
                        <dd class="col-sm-8">
                            @Model.LatestEidDid
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-4">Callback</dt>
                        <dd class="col-sm-8">
                            @Model.LatestEidDataCallback
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>