@page
@model IndexModel
@{
    ViewData["Title"] = "E-ID Data";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    Get E-ID data credentials and add to wallet.
</div>

<br /><br />

<div class="text-center"> 
    <i class="fa fa-house-user fa-9x" aria-hidden="true"></i>
</div>

